h1{
box-sizing:
border-box
;
color:
rgb(169, 68, 66)
;
display:
block
;
font-family:
"Helvetica Neue", Helvetica, Arial, sans-serif
;
font-size:
45px
;
font-weight:
500
;
height:
49px
;
line-height:
49.5px
;
margin-bottom:
0px
;
margin-left:
0px
;
margin-right:
0px
;
margin-top:
10px
;
text-size-adjust:
100%
;
width:
970px
;
}
table{
background-color:
rgba(0, 0, 0, 0)
;
border-bottom-color:
rgb(221, 221, 221)
;
border-bottom-style:
solid
;
border-bottom-width:
1px
;
border-collapse:
collapse
;
border-image-outset:
0px
;
border-image-repeat:
stretch
;
border-image-slice:
100%
;
border-image-source:
none
;
border-image-width:
1
;
border-left-color:
rgb(221, 221, 221)
;
border-left-style:
solid
;
border-left-width:
1px
;
border-right-color:
rgb(221, 221, 221)
;
border-right-style:
solid
;
border-right-width:
1px
;
border-top-color:
rgb(221, 221, 221)
;
border-top-style:
solid
;
border-top-width:
1px
;
box-sizing:
border-box
;
color:
rgb(51, 51, 51)
;
display:
table
;
font-family:
"Helvetica Neue", Helvetica, Arial, sans-serif
;
font-size:
14px
;
height:
237px
;
line-height:
20px
;
margin-bottom:
20px
;
max-width:
100%
;
text-size-adjust:
100%
;
width:
970px
;
}
body{
border-bottom-color:
rgb(221, 221, 221)
;
border-collapse:
collapse
;
border-left-color:
rgb(221, 221, 221)
;
border-right-color:
rgb(221, 221, 221)
;
border-top-color:
rgb(221, 221, 221)
;
box-sizing:
border-box
;
color:
rgb(51, 51, 51)
;
display:
table-row-group
;
font-family:
"Helvetica Neue", Helvetica, Arial, sans-serif
;
font-size:
14px
;
height:
236px
;
line-height:
20px
;
text-size-adjust:
100%
;
vertical-align:
middle
;
width:
969px
;
}
.th Item{
border-bottom-color:
rgb(221, 221, 221)
;
border-bottom-style:
solid
;
border-bottom-width:
1px
;
border-collapse:
collapse
;
border-image-outset:
0px
;
border-image-repeat:
stretch
;
border-image-slice:
100%
;
border-image-source:
none
;
border-image-width:
1
;
border-left-color:
rgb(221, 221, 221)
;
border-left-style:
solid
;
border-left-width:
1px
;
border-right-color:
rgb(221, 221, 221)
;
border-right-style:
solid
;
border-right-width:
1px
;
border-top-color:
rgb(221, 221, 221)
;
border-top-style:
solid
;
border-top-width:
1px
;
box-sizing:
border-box
;
color:
rgb(51, 51, 51)
;
display:
table-cell
;
font-family:
"Helvetica Neue", Helvetica, Arial, sans-serif
;
font-size:
14px
;
font-weight:
700
;
height:
37px
;
line-height:
20px
;
padding-bottom:
8px
;
padding-left:
8px
;
padding-right:
8px
;
padding-top:
8px
;
text-align:
left
;
text-size-adjust:
100%
;
vertical-align:
top
;
width:
414px
;
}

